@model LCMonitoringSystem3.Models.IndicatorsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IndicatorsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfEnterprises)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEnterprises)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteGeneration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteGeneration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpendituresOnEnvProt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpendituresOnEnvProt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEmissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEmissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbonMonoxide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbonMonoxide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Methane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Methane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NitrogenDioxide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NitrogenDioxide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NitricOxide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NitricOxide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SulfurDioxide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SulfurDioxide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonMetOrgCompounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonMetOrgCompounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbonDioxide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbonDioxide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromMobileSources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromMobileSources)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
