@using LCMonitoringSystem3.Models

@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutForDB.cshtml";
}


<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<h1 class="text-center">Усі дані</h1>

<p>
    <a  asp-action="Create" class="btn btn-success" ><i class="fas fa-plus-square"></i> Додати дані</a>
</p>

<form method="get">
    <div class="form-inline">

        <label style="margin:10px">Рік: </label>
        <select name="year" asp-items="Model.FilterViewModel.Years" class="form-control"></select>

        <label style="margin:10px">Регіон: </label>
        <select name="region" asp-items="Model.FilterViewModel.Regions" class="form-control"></select>

        <input style="margin:10px" type="submit" value="Пошук" class="btn btn-outline-dark" />
    </div>
</form>

<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.YearSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">Рік</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.RegionSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">Регіон</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.VrpSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">ВРП</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NumberOfEnterprisesSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">КП</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.WasteGenerationSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">УВ</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.ExpendituresOnEnvProtSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">Вит.ОНПС</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.TotalEmissionsSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">ЗР</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CarbonMonoxideSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">CO</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.MethaneSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">CH4></a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NitrogenDioxideSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">NO<sub>2</sub></a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NitricOxideSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">N2O</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.SootSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">Сажі</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.SulfurDioxideSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">SO2</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NonMetOrgCompoundsSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">НМЛОС</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CarbonDioxideSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)"> CO2</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.FromMobileSourcesSort)"
                   asp-route-year="@(Model.FilterViewModel.SelectedYear)"
                   asp-route-region="@(Model.FilterViewModel.SelectedRegion)">Авто</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IndicatorsModel item in Model.Indicators)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year.YearNumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfEnterprises)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WasteGeneration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpendituresOnEnvProt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalEmissions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbonMonoxide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Methane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NitrogenDioxide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NitricOxide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SulfurDioxide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NonMetOrgCompounds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbonDioxide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromMobileSources)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-secondary"><i class="fas fa-pen-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedYear)"
       asp-route-company="@(Model.FilterViewModel.SelectedRegion)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedRegion)"
       asp-route-company="@(Model.FilterViewModel.SelectedYear)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}