@model IEnumerable<LCMonitoringSystem3.Models.IndicatorInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutForDB.cshtml";
}

<h1 class="text-center">Індикатори</h1>

<p style="width:70%; margin: auto; margin-bottom:10px">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus-square"></i> Додати дані</a>
</p>
<table class="table table-striped table-bordered" style="width:70%; margin: auto;">
    <thead>
        <tr>
            <th>
                Повна назва
            </th>
            <th>
                Скорочення
            </th>
            <th>
                Одиниці вимірювання
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fas fa-pen-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
